body{
      background-color: rgb(27, 89, 223);
    
}

@media(max-width: 768px){
      .navbar-nav > li:hover{
          background-color: #0dcaf0;
      }
  }

  #logo{
      width: 100px;
      height: 80px;
  }
