img{
    height: 100px;
    width: 200px;
}


body{
    display: flexbox;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(27, 89, 223);
    color: white;

}
input{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    transition: 300ms;
    color: white;

}
textarea{
    background-color: transparent;
    border: 4px solid white;
    transition: 300ms;
    color: white;


    
}

textarea:hover{
    box-shadow: 0 0 10px white, inset 0 0 10px white;

}

::placeholder{
    color: white;
}

input:hover{
    /* box-shadow: 4px 8px 10px black; */
    transform: translateY(-10%);
    box-shadow: 0 0 20px white, inset 0 0 20px white;

}


form{
    position: relative;

    margin: 50px;

    width: 400px;
    text-align: center;
    background-color: darkblue;
    justify-content: space-between;
    color: white;
    overflow: hidden;
    align-items: center;
    border-radius: 50px;
    transition: 300ms;


}

form:hover{
    box-shadow: 40px 100px 50px black;
    transform: translateY(-5%);

}
button{
    background-color: blue;
    width: 150px;
    height: 80px;
    border-radius: 60px;
    color: white;
    border: none;
    transition: 300ms;

}


button:hover{

    box-shadow: 0 0 10px blue, inset 0 0 10px blue;
    transform: scale(1.3);


}

button:active{
    transform: scale(0.9);
    transition: .3s;

}

#navbar{

    display: flexbox;
    justify-content: space-around;
}

#contenedorr{
    display: flexbox;
    justify-content: space-between;
}


#divuno, #divdos, #divtres{


    justify-content: space-evenly;
    display: flex;

}

input,h2{
    margin: 30px;

}
button{
    margin: 30px;
}