*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    color: black;
}

body{

    font-family: Arial, Helvetica, sans-serif;
    border: 3px linear-gradient(
        180deg,
        rgb(241, 255, 43) 0%
        rgb(51, 10, 199) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(27, 89, 223);
    justify-content: center;
    color: white;

}
input::placeholder{
    color: white;
}

form{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 420px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: blue;
    transition: 300ms;
}
form:hover, input:hover{
    transform: translateY(-3%);
    box-shadow: 10px 10px 10px 0px black;

}

form img{

    width: 70px;
    margin-bottom: 25px;

}
a{
    color: white;
}


  

.input-container{
    position: relative;
}

.input-container > i{
    padding: 14px;
    border-radius: 50%;
    background-color: goldenrod;
    color: black;
    position: absolute;
    font-size: 20px;
    top: 7px;
    right: 8px;   
}

.input-container > input{
    padding: 20px 50px 15px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 35px;
    background-color: transparent;
    border: 2px solid #c48afb;
    font-size: 16px;
    

}
input{
    transition: 300ms;
    color: white;

}
input:hover{
    border: 4px solid white;

}
#entrar{
    background-color: darkblue;
    border:1px solid white;
    color: aliceblue;
    width: 90%;
    padding: 10px;
    cursor: pointer;
    transition: .1s;
    margin: 15px;
    border: none;
    
    
}

#entrar:active{

    transform: scale(0.9);
    transition: .3s;
    
}

button{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;    
    background-color: darkblue;
    border:1px solid white;
    color: aliceblue;
    width: 200px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    transition: .1s;
    margin: 15px;
    border: none;   
    
}
button:hover{
    transform: translateY(-10%);
    box-shadow: 10px 10px 10px 0px black;
    border-radius: 40px;


}

p{
    font-size: 40px;
}